{% extends 'base.html' %}
{% block content %}
<h3>Все заявки (HR)</h3>
<a class="btn btn-primary" href="/hr/export_csv">Экспорт CSV</a>
<table class="table mt-3">
  <thead><tr><th>Сотрудник</th><th>Отдел</th><th>Период</th><th>Тип</th><th>Статус</th></tr></thead>
  <tbody>
  {% for r in requests %}
    <tr>
      <td>{{ services.get_user_by_id(r.user_id).full_name }}</td>
      <td>{{ departments[services.get_user_by_id(r.user_id).department_id].name }}</td>
      <td>{{ r.start_date }} → {{ r.end_date }}</td>
      <td>{{ r.type }}</td>
      <td>{{ r.status }}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>
{% endblock %}